language: go
go: 1.9.1

services:
  - docker

before_install:
  - go get -u github.com/kardianos/govendor
  - export PATH="${GOPATH}/bin:${PATH}"
  - export ROOT=/tmp/go_$$
  - go version
  - export SUB_ROOT="${ROOT}/src/github.com/lixinio/"
  - mkdir -p "${SUB_ROOT}" && ln -s "`pwd`" "${SUB_ROOT}/doc-server" && cd "${SUB_ROOT}/doc-server"
  - export GOPATH="${ROOT}:${GOPATH}"
  - govendor sync && make
  - cd frontend && npm i && npm run-script build && cd -
  - docker build -t lixinio/doc-server:1.1.0 .
script:
  - docker images
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
  - docker push lixinio/doc-server:1.1.0

